/* Initialize ---------------------------------*/
@font-face {
    font-family: PhutungFont;
    src: url('../fonts/MyriadPro-Black.otf') format('opentype'),
        url('../fonts/MyriadPro-BlackIt.otf') format('opentype'),
        url('../fonts/MyriadPro-BlackSemiExt.otf') format('opentype'),
        url('../fonts/MyriadPro-Bold.otf') format('opentype'),
        url('../fonts/MyriadPro-BoldIt.otf') format('opentype'),
        url('../fonts/MyriadPro-It.otf') format('opentype'),
        url('../fonts/MyriadPro-Light.otf') format('opentype'),
        url('../fonts/MyriadPro-LightIt.otf') format('opentype'),
        url('../fonts/MyriadPro-Regular.otf') format('opentype');
}


body {
    font-family: PhutungFont;
    background-color: #ffffff;

}

::-webkit-input-placeholder {
    color: #ffffff;
}

.clear {
    clear: both;
}

a:hover, a:focus {
    text-decoration: none;
    color:#ec1c24;
}

.container {
    width: 1096px;
}

/* #top ---------------------------------------*/
#top {
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #ffffff;
}

#top .language {
    height: 50px;
    line-height: 50px;
}

#top .language img {
    width: 25px;
    height: 25px;
}

/* #menu --------------------------------------*/
#menu {
    width: 100%;
    height: 40px;
    background: url('../img/bg-menu.png') no-repeat;
    background-size: 100% 100%;
}

#menu-center {
    width: 1096px;
    height: 100%;
    margin: auto;
    padding-right: 75px;
    position: relative;
}

#menu .logo {
    position: relative;
    z-index: 99999;
}

#menu .logo a {
    position: absolute;
    top: 1px;
    left: 0;
}

#menu .logo img {
    width: 140px;
}

#menu .links {
    height: 40px;
    display: inline-block;
    z-index: 99999;
}

#menu .links > ul > li {
    float: left;
    height: 40px;
    margin-left: -18px;
}

#menu .links > ul > li > a {
    float: left;
    height: 40px;
    padding: 0 35px;
    color: #ffffff;
    font-weight: 600;
    line-height: 40px;
    display: block;
}

#menu .links > ul > li {
    background: url('../img/menu-divider.png') no-repeat;
    background-size: 20px 100%;
}

#menu .links > ul > li.active > a, #menu .links > ul > li > a:hover {
    text-decoration: none;
    background: url('../img/bg-menu-item-active.png') no-repeat;
    background-size: 100% 100%;
    color: #ec1c24;
}

#menu .form {
    width: 155px;
    height: 25px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    position: absolute;
    left: 96%;
    top: 17%;
}

#menu .form input[type="text"] {
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    background: none;
    border: none;
    outline: none !important;
    text-indent: 25px;
    font-size: 12px;
}

#menu .form input[type="submit"], #menu .form button {
    width: 20px;
    height: 20px;
    border: none;
    background: url('../img/i-search.png') no-repeat;
    background-size: 17px 17px;
    position: absolute;
    top: 3px;
    left: 4px;
    outline: none !important;
}

#menu .toggle-menu {
    width: 23px;
    height: 18px;
    border: none;
    background: url('../img/btn-toggle-menu.png') no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top: 20%;
    right: 6px;
    display: none;
}

#menu .icons {
    display: none;
    position: absolute;
    top: 18%;
    right: 11%;
}

#menu .icons img {
    width: 20px;
    height: 20px;
}

/* #slider ------------------------------------*/
#slider {
    width: 100%;
}

#slider .carousel-inner img {
    width: 100%;
    height: 100%;
}

#slider .carousel-control img {
    width: 50px;
    height: 50px;
    margin-top: 70%;
}

#slider .carousel-indicators {
    width: 34%;
    height: 35px;
    margin-left: 0;
    z-index: 99999;
    background: url('../img/slider-links.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    bottom: -10px;
    left: 33%;
    text-align: center;
}

#slider .carousel-indicators li {
    width: 15%;
    height: 5px;
    background: #d0d2d3;
    margin-top: 20px;
}

#slider .carousel-indicators li.active {
    margin-bottom: 1px;
    background: #ec1c24;
}

/* #content -----------------------------------*/
#content {
    width: 1096px;
    margin: auto;
}

#content-center {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

#content .main {
    float: right;
    width: 750px;
    min-height: 350px;
    padding: 20px 0;
}

#content .breadcrumb {
    background: #e6e6e6;
    border-radius: 0;
    border-bottom: 3px solid #e50d00;
    display: none;
}

#content .breadcrumb .active {
    font-weight: bold;
}

/* #header ------------------------------------*/
#header {
    background: url('../img/banner-001.png') no-repeat;
    background-size: 100% 100%;
    height: 350px;
    margin-top: 30px;
    position: relative;
}

#header .title {
    margin-bottom: 200px;
}

#header .title .page-title {
    display: inline-block;
    padding: 17px 20px 10px 20px;
    font-size: 20px;
    background: #ffffff url('../img/icon-page-title.png') no-repeat top center;
    background-size: 23px;
    background-position: center 2px;
    color: #ec1c24;
    text-transform: uppercase;
    font-weight: 600;
}

#header .slogan {
    padding: 10px 30px 10px 30px;
    background: #ec1c24;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#header .links {
    margin-top: 17px;
    background: url('../img/header-links.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#header .links .name {
    color: #fff;
    font-size: 14px;
    padding: 15px;
    border-left: 18px solid #cd181f;
    background: url('../img/sidebar-heading.png') no-repeat;
    text-transform: uppercase;
}

#header .links > ul {
    width: 300px;
}

#header .links > ul > li {
    float: left;
    width: 100%;
    padding-left: 31px;
    display: block;
    background: url('../img/icon-arrow-right-normal.png') no-repeat;
    background-size: 8px 13px;
    background-position: 97% 50%;
    position: relative;
}

#header .links > ul > li:last-child > a {
    border-bottom: 0;
}

#header .links > ul > li > a {
    padding: 10px 27px 10px 0;
    display: block;
    border-bottom: 1px solid #bfc1c3;
    color: #231f20;
    text-transform: uppercase;
}

#header .links .submenu {
    width: 140%;
    position: absolute;
    top: 0;
    left: 265px;
    list-style: none;
    display: none;
    z-index: 999999;
}

#header .links .submenu li {
    margin-bottom: 1px;
}

#header .links .submenu a {
    width: 100%;
    border: 1px solid #ffffff;
    color: #000000;
    display: block;
    padding: 10px 5px;
    text-indent: 7%;
    background: rgba(230, 231, 232, 0.8) url('../img/i-header-submneu.png') no-repeat;
    background-size: 17px 17px;
    background-position: 7px 4px;
}

#header .links > ul > li:hover > .submenu {
    display: block;
}

#headerLinks {
    margin-bottom: 60px;
    display: none;
}

#headerLinks .name {
    color: #c80000;
    margin: auto;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    background: #c80000 url('../img/headerLinks-title.png') no-repeat center center;
    background-size: 75% 92%;
    text-transform: uppercase;
    text-align: center;
}

#headerLinks ul {
    background: url('../img/header-links.png') no-repeat;
    background-size: 100% 100%;
}

#headerLinks > ul > li {
    width: 100%;
    display: block;
    background: url('../img/icon-arrow-right-normal.png') no-repeat;
    background-size: 8px 13px;
    background-position: 97% 50%;
}

#headerLinks > ul > li > a {
    padding: 10px 27px 10px 0;
    display: block;
    border-bottom: 1px solid #bfc1c3;
    color: #231f20;
    text-transform: uppercase;
    z-index: 99999;
    padding-left: 20px;
}

#headerLinks .submenu {
    list-style: none;
}

#headerLinks .submenu li {
    margin-bottom: 1px;
}

#headerLinks .submenu a {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
    color: #000000;
    display: block;
}

/* #footer ------------------------------------*/
#footer {
    width: 1096px;
    height: 130px;
    margin: auto;
    padding-top: 15px;
    background: url('../img/line-footer.png') no-repeat;
    background-size: 100% 5px;
}

#footer .logo {
    float: left;
    margin-right: 20px;
}

#footer .info {
    float: left;
    margin-top: 9px;
}

#footer .links {
    float: right;
    margin-top: 30px;
}

#footer .logo img {
    width: 120px;
}

#footer .info p {
    margin: 5px 0;
    font-weight: 600;
}

#footer .links img {
    width: 30px;
    height: 30px;
}

/* #bottom ------------------------------------*/
#bottom {
    width: 100%;
    height: 40px;
    background: url('../img/bg-footer.png') no-repeat;
    background-size: 100% 100%;
}

#top .language a.active {
    font-weight: bold;
    font-size: 17px;
}
