/* #contact -----------------------------------*/
#header .links .submenu {
    z-index: 1000;
}

#header .slogan {
    background-color: #fff;
}
#header .slogan span {
    color: #078fdd;
}

#contact-textarea {
    margin-top: 35px;
}

#contact {
    margin-top: 30px;
}

#contact .form {
    font-family: arial;
}

#contact .form .title {
    font-size: 17px;
    font-weight: 600;
    border-left: 13px solid #ec1c24;
    color: #999999;
    margin-bottom: 30px;
}

#contact .form .title span {
    display: block;
    text-indent: 10px;
    margin-bottom: 7px;
}

#contact .form textarea {
    resize: none;
}

#contact .form .btn {
    border-radius: 0;
}

#contact .form .btn-primary {
    background-color: #2b5688;
}

#contact .sidebar {
    width: 100%;
    background: #e6e7e8;
}

#contact .sidebar .heading {
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 40px;
    background: #ec1c24;
    position: relative;
}

#contact .sidebar .heading span {
    position: absolute;
    top: 13px;
    left: 35px;
}

#contact .sidebar .heading span img {
    width: 30px;
    height: 45px;
}

#contact .sidebar .branch {
    padding: 10px 0 21px 0;
    background: url('../img/line-branch.png') no-repeat;
    background-size: 100% 7px;
    background-position: center bottom;
    font-family: arial;
}

#contact .sidebar .branch:last-child {
    background-image: none;
}

#contact .sidebar .branch .title {
    padding: 0;
}

#contact .sidebar .branch p {
    text-indent: 30px;
    margin: 0;
}

#contact .sidebar .branch p.address {
    background: url('../img/icon-address-o.png') no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
}

#contact .sidebar .branch p.phone {
    background: url('../img/icon-phone-o.png') no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
}

#contact .sidebar .branch p.email {
    background: url('../img/icon-envelope-o.png') no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
}

#contact .form .btn.btn-default {
    background-color: #E6E7E8;
}
